@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "lato", sans-serif;
}

ul, ol {
    list-style-type: none;
}

body {
    background-color: #f7f7fb;
    height: 100dvh;
}

input[type="text"]{
    border: none;
}

input[type="text"]:focus {
    outline: none;
}

h1 {
    text-align: center;
}

.section-conversor {
    background-color: #494dde;
    margin: auto;
    padding: 40px 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 2px 10px rgb(43, 44, 78, .5);
    border-radius: 20px;
}

.bloco-converter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bloco-converter input[type="text"] {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 10px;
}

.bloco-converter .select-coin .input-coin{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}

.bloco-converter #valueIn, .bloco-converter #valueOut {
    max-width: 100px;
}


/* botão de trocar */
.bloco-trocar .material-symbols-outlined {
    color: #fff;
    font-size: 25px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.bloco-trocar .material-symbols-outlined:hover {
    color: #494dde;
    background-color: #fff;
}


/*@media screen and (max-width: 648px) {
    .section-conversor {
        max-width: 80%;
    }
} */